---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki-stack
  namespace: infrastructure
spec:
  chart:
    spec:
      version: ">=2.9.0"
  values:
    loki:
      enabled: true
      replicas: 1
      isDefault: false # To avoid clashing with Prometheus, the default data source
      serviceMonitor:
        enabled: true
        interval: 30s
        additionalLabels:
          tier: cluster
    promtail:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 30s
        additionalLabels:
          tier: cluster
    fluent-bit:
      enabled: false
    grafana:
      enabled: false
    prometheus:
      enabled: false
