---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: infrastructure
spec:
  chart:
    spec:
      version: ">=43.2.1"
  values:
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false
    alertmanager:
      serviceMonitor:
        selfMonitor: false
    grafana:
      podLabels:
        app: grafana
      service:
        labels:
          app: grafana
      additionalDataSources:
        - name: Loki
          type: loki
          access: proxy
          uid: loki_ds
          url: http://loki-stack:3100
          jsonData:
            maxLines: 1000
#      dashboardProviders:
#        dashboardproviders.yaml:
#          apiVersion: 1
#          providers:
#          - name: 'flux'
#            orgId: 1
#            folder: 'Flux'
#            type: file
#            disableDeletion: true
#            editable: false
#            options:
#              path: /var/lib/grafana/dashboards/flux
#      dashboards:
#        flux:
#          cluster:
#            url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
#            token: ''
#          control-plane:
#            url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
#            token: ''
  
